.App {
  padding: 40px;
}
form {
  padding: 20px;
  background-color: rgb(236, 236, 236);
}
label {
  font-size: 16px;
}
input {
  height: 25px;
  font-size: 16px;
  margin: 10px;
}
select {
  height: 25px;
  font-size: 16px;
  margin: 10px;
}
li {
  margin: 20px;
  font-size: 18px;
}
button {
  height: 38px;
  /* padding: 10px; */
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
}
button.danger {
  background-color: brown;
  color: white;
}
